nav
  .nav-container
    // ASCII art logo placeholder
    .ascii-logo
      pre.alex-wilson
        include ascii-art.pug

    // Navigation links
    .nav-links
      a(href='./documents/alex_wilson_resume.pdf' target='_blank') Resume
      .dropdown
        button.dropbtn Projects
        .dropdown-content
          a(href='https://www.github.com/Alex-Wilson' target='_blank') Github
          a(href='#') 1
          a(href='#') 2
          a(href='#') 3
      .dropdown
        button.dropbtn Reference Material
        .dropdown-content
          a(href='#') Math
          a(href='#') History of Computers
          a(href='#') Data Structures and Algorithms
          a(href='#') Security
          a(href='#') Animations
          a(href='#') Machine Learning
      .dropdown
        button.dropbtn For Fun
        .dropdown-content
          a(href='#') Reviews and Tier Lists

    // Icons section on the far right
    .nav-icons
      a(href='https://www.linkedin.com/in/alex-wilson-pmp-3021a5257' target='_blank')
        img.icon(src='icons/LinkedIn_icon.ico', alt='LinkedIn')
      a(href='https://www.github.com/Alex-Wilson' target='_blank')
        img.icon(src='icons/GitHub_icon.png', alt='GitHub')
