*.pem
*.key
*.pub
*.crt
*.cert
*.enc
*.asc
*.gpg
*.pfx
*.p12
*.ppk

# SSH-related
.ssh/
*.ssh
*id_rsa*
*id_ed25519*
authorized_keys
known_hosts

# Node.js dependencies
node_modules/

#YGO Data
public/images/ygo-images
public/images/ygo/ygo-images
public/images/ygo/ygo-images

# Lock files
package-lock.json

# VS Code settings
.vscode/

# Misc
.env
.env.development
.env.production
.eslintignore
eslint.config.mjs
