*.pem
*.key
*.pub
*.crt
*.cert
*.enc
*.asc
*.gpg
*.pfx
*.p12
*.ppk

# SSH-related
.ssh/
*.ssh
*id_rsa*
*id_ed25519*
authorized_keys
known_hosts

# Node.js dependencies
node_modules/

# Lock files
package-lock.json

# VS Code settings
.vscode/

# Misc
.env