extends layouts/template

block content
  h1 Certifications
  p Explore the certifications I have achieved over my career.
  ul
    li
      strong Network+: 
      | Achieved in [year] to validate foundational networking knowledge.
    li
      strong PMP: 
      | Certified Project Management Professional.
    li
      strong Security+: 
      | Gained expertise in cybersecurity and threat management.
    li
      strong AWS: 
      | AWS Certified Cloud Practitioner (in progress).
