extends layouts/template

include modules/cert-mixin.pug

block head
  link(rel="stylesheet" href="/styles/table.css")

block content
  h1 Certifications
  p Below is a categorized list of certifications dynamically loaded from a JSON file.

  // Render the certification table
  +certificationTable(certifications)
