extends layouts/template

block content
  h1 Hello, World! 
  p I just want to say welcome to my website alexwilson.info. I am making this site to share my career history, academic achievements, personal projects, references and resources, and most importantly, things that I ENJOY! 

  p This website is organized into those categories, so allow me to use this space to tell you about myself.

  p I was born in the late 90s to a small working class family in St. Louis, Missouri. I  
