extends layouts/template

block content
  h1 Welcome
  p Welcome to my website. Explore everything from professional work to personal projects.

  h2 Professional Work
  p Dive into my resume, certifications, and professional experience.

  h2 Projects
  p Check out some of the projects I’ve worked on, including code samples and demonstrations.

  h2 Reference Material
  p This section is a collection of useful materials, including math guides, computer science concepts, and more.

  h2 For Fun
  p Explore my reviews, tier lists, and other entertaining content.
