extends layouts/template

block content
  h1 Professional Work
  p Explore my resume, certifications, and professional experience below.

  h2(id="resume") Resume
  p
    a(href="./documents/alex_wilson_resume.pdf", target="_blank") View my resume here.

  h2(id="certifications") Certifications
  ul
    li
      strong Network+: 
      | Achieved in [year] to validate foundational networking knowledge.
    li
      strong PMP: 
      | Certified Project Management Professional.
    li
      strong Security+: 
      | Gained expertise in cybersecurity and threat management.
    li
      strong AWS: 
      | AWS Certified Cloud Practitioner (in progress).

  h2(id="linkedin") LinkedIn
  p
    a(href="https://www.linkedin.com/in/alex-wilson-pmp-3021a5257", target="_blank") Visit my LinkedIn profile.
