extends ../layouts/template.pug

block content
  main.main-content
    article.prose(style="text-align: center;")
      h1 404 - Page Not Found
      p Sorry, the page you are looking for does not exist.
      a(href="/") Return to Homepage