extends ../layouts/template.pug

block content
  main.main-content
    article.prose(style="text-align: center;")
      h1 500 - Sever Error
      p Great you broke it!
      a(href="/") Return to Homepage