extends ../layouts/template.pug

include ../mixins/cert-mixin.pug

block head
  script(src="/js/table-sorting.js")
  link(rel="stylesheet" href="/styles/content.css")

block content
  h1 Certifications
  p Below is a list of certifications I’ve earned and those I am actively working towards. These certifications reflect my commitment to learning and growth in areas like networking, cybersecurity, cloud technologies, and project management. I am dedicated to expanding my expertise in cutting-edge technologies to align with industry demands.

  // Render the certification table
  +certificationTable(certifications)
