extends ../layouts/template.pug

block content
  .content-container
    h1 Math Resources
    p Welcome to the math resources section. Here you will find notes, guides, and links related to various mathematical topics.
    // Add more content, links to articles, etc. here