extends ../layouts/template.pug

block head
  link(rel="stylesheet", href="/styles/resource-list.css") 

block content
  .content-container
    // The 'title' variable (e.g., "Math") is passed from the controller.
    h1= title
    
    // Check if there are any articles to display in this category.
    // 'content' is now a flat array of article objects.
    if content && content.length > 0
      ul.resource-list
        // Loop through each 'article' in the 'content' array.
        each article in content
          li
            // Create a link. The 'href' uses the category and the article's slug
            // (e.g., "/math/pre-algebra"), and the link text is the article's title.
            a(href=`/${category}/${article.slug}`)= article.title
    else
      // This message is shown if the 'content' array was empty.
      p No content found in this category.