pre.footer
  include ascii-text.pug
  
.nav-bar-icons-container
  a.nav-link(href='https://www.linkedin.com/in/alex-wilson-pmp-3021a5257' target='_blank')
    img.icon(src='icons/linkedin-icon.ico', alt='LinkedIn')
  a.nav-link(href='https://www.github.com/Alex-Wilson' target='_blank')
    img.icon(src='icons/github-icon.png', alt='GitHub')
  a.nav-link(href='https://leetcode.com/u/AlexWilson0425/' target='_blank')
    img.icon(src='icons/leetcode-icon.ico', alt='leetcode')
  a.nav-link(href='https://tryhackme.com/r/p/AlexWilson0425' target='_blank')
    img.icon(src='icons/thm-icon.png', alt='thm')