.glitch-text-scroll-area
  include glitch-text.pug

nav.sticky-nav-bar
  a.nav-link(href='/about-me') About
  .dropdown
    button.dropbtn Contact
      .dropdown-content
        a.drop-down-link(href='mailto:alex.wilson.0425@gmail.com') Email
        a.drop-down-link(href='https://www.linkedin.com/in/alex-wilson-pmp-3021a5257' target='_blank') LinkedIn
  a.nav-link(href='/educational-resources') Educational Resources
  a.nav-link(href='fun-projects') Fun Stuff
  a.nav-link(href='https://www.github.com/alex-wilson') Github

