.glitch-text-scroll-area
  include glitch-text.pug

nav.sticky-nav-bar
  .dropdown
    button.dropbtn whoami
    .dropdown-content
      a.drop-down-link(href='/readme') /README
      a.drop-down-link(href='/resume') /resume
      a.drop-down-link(href='/certifications') /certifications
  .dropdown
    button.dropbtn ping
    .dropdown-content
      a.drop-down-link(href='https://www.linkedin.com/in/alex-wilson-pmp-3021a5257' target='_blank') /linkedin
      a.drop-down-link(href='https://www.github.com/alex-wilson' target='_blank') /github
      a.drop-down-link(href='https://leetcode.com/u/AlexWilson0425' target='_blank') /leetcode
      a.drop-down-link(href='mailto:alex.wilson.0425@gmail.com') /email
  a.nav-link(href='/projects') /projects
  .dropdown
    button.dropbtn resources
    .dropdown-content
      a.drop-down-link(href='/leet-code-write-ups' target='_blank') /leet-code-write-ups



