.glitch-text-scroll-area
  include glitch-text.pug

nav.sticky-nav-bar
  a.nav-link(href='/about-me') About Me
  a.nav-link(href='/documents/alexander-wilson-resume-2025.pdf' target='_blank') Resume
  a.nav-link(href='/certifications') Certifications
  .dropdown
    button.dropbtn Projects
    .dropdown-content
      a.drop-down-link(href='#') ASCII Art Editor
  .dropdown
    button.dropbtn Educational
    .dropdown-content
      a.drop-down-link(href='#') Test
      a.drop-down-link(href='#') Basic Math
      a.drop-down-link(href='#') History of Computers
      a.drop-down-link(href='#') Data Structures and Algorithms
      a.drop-down-link(href='#') Security
      a.drop-down-link(href='#') Animations
      a.drop-down-link(href='#') Machine Learning
      a.drop-down-link(href='#') System Design
      a.drop-down-link(href='#') System Architecture
  .dropdown
    button.dropbtn Fun
    .dropdown-content
      a.drop-down-link(href='#') Software List
      a.drop-down-link(href='#') Booklist
      a.drop-down-link(href='#') Nioh 2 Builds
      a.drop-down-link(href='#') Siege Maps
      a.drop-down-link(href='#') YGO Deck/Binder Sim 
      a.drop-down-link(href='#') Media Reviews and Tier Lists
  .dropdown
    button.dropbtn Contact Me
    .dropdown-content
      a.drop-down-link(href='mailto:alex.wilson.0425@gmail.com') Email
      a.drop-down-link(href='https://www.linkedin.com/in/alex-wilson-pmp-3021a5257' target='_blank') LinkedIn
      a.drop-down-link(href='https://www.github.com/Alex-Wilson' target='_blank') Github
      a.drop-down-link(href='https://leetcode.com/u/AlexWilson0425' target='_blank') LeetCode
      a.drop-down-link(href='https://tryhackme.com/r/p/AlexWilson0425' target='_blank') TryHackMe
