/* Importing the font used across the application. This can be centralized here to avoid repetition. */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Define the official gray color for the site */
:root {
    --official-gray: #292a2d;
    --official-green: #32cd32;
    --official-black: #000;
    --official-white: #FFF;
    --primary-font: 'Space Mono', monospace; /* Define the font variable */
}

body{
    font-family: var(--primary-font);
    background-color: var(--official-gray);
    color: var(--official-white);
    margin: 0;
    padding: 0;
}