/* Importing the font used across the application. This can be centralized here to avoid repetition. */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Define the official gray color for the site */
:root {
    --official-grey: #292a2d;
    --official-green: #32cd32;
    --official-black: #000;
    --official-white: #FFF;
    --primary-font: 'Space Mono', monospace; /* Define the font variable */
}

/* Global styling for the body to ensure a consistent layout and background color. */
body {
    background-color: var(--official-grey);
    color: var(--official-white);
    font-family: var(--primary-font);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}