.glitch-text-scroll-area
  include glitch-text.pug

nav.sticky-nav-bar
  .dropdown
    button.dropbtn whoami
    .dropdown-content
      a.drop-down-link(href='/README') ./README
      a.drop-down-link(href='/resume' target='_blank') ./resume
      a.drop-down-link(href='/certifications') ./certifications
      a.drop-down-link(href='https://www.linkedin.com/in/alex-wilson-pmp-3021a5257' target='_blank') ./linkedin
      a.drop-down-link(href='mailto:alex.wilson.0425@gmail.com') ./email
      a.drop-down-link(href='https://www.github.com/alex-wilson' target='_blank') ./github
      a.drop-down-link(href='https://leetcode.com/u/AlexWilson0425' target='_blank') ./leetcode
      a.drop-down-link(href='https://www.deep-ml.com/profile/olGrrmPQYiPMPtZQ2R3YhoCpyq13' target='_blank') ./deep-ml
      a.drop-down-link(href='https://www.kaggle.com/alexwilson0425' target='_blank') ./kaggle
      a.drop-down-link(href='https://tryhackme.com/p/AlexWilson0425' target='_blank') ./thm
  .dropdown
    button.dropbtn /lib
    .dropdown-content
      a.drop-down-link(href='/math') ./math
      a.drop-down-link(href='/certs') ./certs
      a.drop-down-link(href='/leetcode') ./leetcode
      a.drop-down-link(href='/deep-ml') ./deep-ml
  .dropdown
    button.dropbtn /dev
    .dropdown-content
      a.drop-down-link(href='/how-does-a-computer-work') ./how-does-a-computer-work
      a.drop-down-link(href='/time-line-of-computing') ./time-line-of-computing
      a.drop-down-link(href='/ygo-tool') ./ygo-tool
      a.drop-down-link(href='/ascii-art-tool') ./ascii-art-tool
      a.drop-down-link(href='/budget-tool') ./budget-tool
  .dropdown
    button.dropbtn /media
    .dropdown-content
      a.drop-down-link(href='#') Media Reviews
      a.drop-down-link(href='#') Recipes
      